* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* this section is the header section that contains the navigational bar */
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
header {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  width: 100%;
  border-bottom: 1px solid #ff0000;
  position: fixed;
}
/* END*/

/* this section is the navbar section that contains the navigational bar, 
which consist of the logo,links and button */

.navbar {
  background: white;
  padding: 1rem 0;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.navbar-logo {
  color: rgb(4, 0, 26);
  font-size: 1.6rem;
  font-weight: bold;
  flex-basis: 30%;
}
.navbar-logo a {
  background: none;
  color: rgb(4, 0, 26);
  text-decoration: none;
}
.navbar-logo a:hover {
  background: none;
}
.io-color {
  color: #ff0000;
}

.navbar-links {
  display: flex;
  flex-basis: 40%;
}
.navbar-links ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar-links li {
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: bold;
}
.navbar-links ul li a {
  text-decoration: none;
  color: rgb(4, 0, 26);
  padding: 7px 13px;
}

a.active,
a:hover {
  background: #ff0000;
  transition: 0.5s;
}
/* END*/

/* this section is the main section that contains the hero, which consist of the the pictures,
typewriter effect email me button */
.contact-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.contact {
  display: flex;
  width: 80%;
  align-items: center;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.salute {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.salute h1 {
  width: 80%;
  font-size: 2.5rem;
  color: #04001a;
  margin-bottom: 1rem;
}
.salute p {
  width: 80%;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #04001a;
  font-weight: bold;
  margin-bottom: 1rem;
}
.forma {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10%;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  outline: none;
  border: none;

  font-size: 12px;
  margin: 10px 0;
  padding: 0 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}
.contact-form input {
  height: 50px;
}
.contact-form textarea {
  height: 100px;
  padding-top: 10px;
  font-family: inherit;
}
#submit {
  background-color: #ff0000;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.footer-container {
  display: flex;
  width: 100%;
  background: #ff0000;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  height: 100px;
}

.footer-paragraph {
  display: flex;
  flex-direction: column;

  width: 80%;
}
.footer-paragraph p {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 900px) {
  body {
    scroll-behavior: smooth;
  }
  .contact-container {
    width: 100%;
    height: 110vh;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .salute {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .salute h1 {
    width: 100%;
    font-size: 2rem;
    color: #04001a;
    margin-bottom: 1rem;
    text-align: center;
  }
  .salute p {
    width: 100%;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #04001a;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  .contact-form {
    font-size: 0.8rem;
  }
  #submit {
    background-color: #ff0000;
    color: #04001a;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  .footer-container {
    display: flex;
    width: 100%;
    background: #ff0000;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    height: 100px;
  }

  .footer-paragraph {
    display: flex;
    flex-direction: column;

    width: 80%;
  }
  .footer-paragraph p {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
  }
}

@media (max-width: 650px) {
  .navbar-links {
    display: none;
  }
}

@media (max-width: 400px) {
  .contact-container {
    width: 100%;
    height: 130vh;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
  }
  .footer-container {
    display: flex;
    width: 100%;
    background: #ff0000;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    height: 100px;
  }
}
